
 body {
      background-color: #f8f9fa;
    }
    .book-card {
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      margin-bottom: 1.5rem;
    } /*Configuração geral do card*/
    .book-img {
      max-width: 100px;
      object-fit: contain;
    }

    #quantidade{
      padding-right:15em ;
     padding-top: 4em;
    } /*Ajusta a posição do botão de quantidade*/

    #quantidade p{
      padding-left: 1em;
    } /*Alinha o texto "quantidade" com o botão*/
