/*Esse arquivo css é para customizações aplicadas a todas as páginas html*/
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem; /* Espaço entre ícone e texto */
  padding-left: 1em;
}

.icone{
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .tornar-verde:hover{
    background-color:  #198754;
}

.arredondar-botão .btn{
    border-radius: 15px;
}

#toggle-theme{
  border-radius: 15px; 
  position: flex;
} 

.modo{
  padding-top: 9px;
  padding-left: 460px;
}/*Ajusta o botão para o canto*/


body[data-bs-theme="dark"] {
  background-color: #121212 !important;
  color: #f1f1f1;
}

body[data-bs-theme="light"] {
  background-color: #ffffff !important;
  color: #000000;
} /*Garante que o fundo do body mude de acordo com o modo*/




