/*Esse arquivo css é para customizações aplicadas a todas as páginas html*/

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem; /* Espaço entre ícone e texto */
  padding-left: 1em;
}

.addcart{ 
    margin-left: 560px;
}

.icone{
    width: 24px;
    height: 24px;
  }

.card{
    width: 12rem; 
}

.card-img-top{
  height: 200px;
  object-fit: cover; 
} /*Uniformiza o tamanho das imagens presentes nos cards*/

.card-img-top:hover{
    object-fit: contain;
} /*Ao passar o mouse em um card, faz com que a imagem completa seja mostrada, independente de suas proporções.*/

.card-title{
  text-align: center;
} 

