.carousel-item{
    height: 50em;
} /* Altura do caroulsel*/

.carousel-item img{
width: 100%;
}


.sidebar{
    width: 250px;
    padding: 20px;
    left: 0;
    top: 0;
    position: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
}

.tornar-verde:hover{
    background-color:  #198754;
}

.main-content{
    margin-left: 20px; /* Espaço para a sidebar */
    padding: 20px;
}

.card{
    width: 12rem; 
}

.card-img-top{
  height: 200px;
  object-fit: cover; 
} /*Uniformiza o tamanho das imagens presentes nos cards*/

.card-img-top:hover{
    object-fit: contain;
} /*Ao passar o mouse em um card, faz com que a imagem completa seja mostrada, independente de suas proporções.*/

.card-title{
  text-align: center;
} 




