.carousel-item{
    height: 50em;
} /* Altura do caroulsel*/

.carousel-item img{
width: 100%;
}


.sidebar{
    width: 250px;
    padding: 20px;
    left: 0;
    top: 0;
    position: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
}

.tornar-verde:hover{
    background-color:  #198754;
}

.main-content{
    margin-left: 20px; /* Espaço para a sidebar */
    padding: 20px;
}

#carouselDepoimentos {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
 
.star {
  color: #f39c12; /* Cor dourada para as estrelas */
  font-size: 1.2em; /* Tamanho das estrelas */
}

.carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.1);
}







