.carousel-item{
    height: 35em;
} /* Altura do caroulsel*/

.carousel-item img{
width: 100%;
} /* Faz com que as ikagens do caroulsel ocupem toda tela*/

.sidebar{
    width: 250px;
    padding: 20px;
    left: 0;
    top: 0;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
}

.main-content{
    margin-left: 20px; /* Espaço para a sidebar*/
    padding: 20px;
}


#carouselDepoimentos {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
 
.star {
  color: #f39c12; /* Cor dourada para as estrelas */
  font-size: 1.2em; /* Tamanho das estrelas */
}

.carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.1);
}

.card{
    width: 12rem; 
}

.card-img-top{
  height: 200px;
  object-fit: cover; 
} /*Uniformiza o tamanho das imagens presentes nos cards*/

.card-img-top:hover{
    object-fit: contain;
} /*Ao passar o mouse em um card, faz com que a imagem completa seja mostrada, independente de suas proporções.*/

.card-title{
  text-align: center;
} 







